<card header="Clients">
    <div class="content">
        <div class="input-group" style="padding-bottom:20px">
            <input type="text" class="form-control" placeholder="Begin typing to search for client" [(ngModel)]="nameFilterText">
            <span class="input-group-addon" id="basic-addon2" style="border-left:0px"><i class="pe-7s-search"></i></span>
        </div>                               
        
        <div class="table-responsive table-full-width">
            <table class="table table-hover table-striped">
                <thead>
                    <th>Name</th>
                    <th>Address</th>
                    <th>Balance</th>
                </thead>
                <tbody>
                    <tr *ngFor="let client of clients | textfilter:[['firstName', 'lastName'], nameFilterText]" 
                        [class.info]="isSelected(client)"
                        (click)="onSelect(client)"
                        @fadeInOut>
                        <td>{{ client.firstName }} {{ client.lastName }}</td>
                        <td>{{ client.address }}</td>
                        <td>$700</td>
                    </tr>
                </tbody>
            </table>            
        </div>
    </div>
</card>