<div class="sidebar" data-color="red">
    <div class="sidebar-wrapper">
        <div class="logo">
            <a class="simple-text" [routerLink]="['/dashboard']">
                <div class="logo-img">
                    <img src="/assets/physio-logo.png"/>
                </div>
                Alice Physio
            </a>
        </div>
        <ul class="nav" [@flyInOut]="authService.isLoggedIn == true ? 'in' : 'out'">
            <li routerLinkActive="active" *ngFor="let menuItem of menuItems">
                <a [routerLink]="[menuItem.path]">
                    <!-- TODO: Add icons <i class="{{menuItem.icon}}"></i>-->
                    <p>{{menuItem.text}}</p>
                </a>
            </li>
        </ul>
    </div>
</div>