<div class="row">
  <clients-list 
    class="col-md-8"
    (selectionChange)="selectionChange($event)">
  </clients-list>

  <div class="col-md-4">
    <div class="row">
      <card class="col-md-12" header="Create New Client">
        <button 
          class="btn btn-info btn-fill" 
          [routerLink]="['/client/new']">
            Create New Client
        </button>
      </card>
    </div>
    <div class="row">
      <client-summary class="col-md-12">
      </client-summary>
    </div>
  </div>
</div>