<div class="row" *ngIf="!editMode">
  <clients-list 
    class="col-md-4"
    (selectionChange)="selectionChange($event)">
  </clients-list>

  <selected-client 
    *ngIf="selectedClient" 
    [selectedClient]="selectedClient" 
    class="col-md-8" 
    (onEdit)="changeMode()">
  </selected-client>
</div>

<div class="row">
  <edit-client 
    *ngIf="editMode" 
    [selectedClient]="selectedClient" 
    class="col-md-12" 
    (onDelete)="changeMode()" 
    (onCancel)="changeMode()"
    (onSave)="changeMode()">
  </edit-client>
</div>