<div class="row">
  <card header="Clients" class="col-md-4">
    <a [routerLink]="[{ outlets: { client: ['details', 123] } }]">Details</a>
    <a [routerLink]="[{ outlets: { client: ['edit', 88] } }]">edit</a>
    <a [routerLink]="[{ outlets: { client: ['thirdParty', 126516231] } }]">thirdParty</a>

    <ul>
      <li *ngFor="let client of clients">
       {{ client.first_name }}
      </li>
    </ul>
  </card>

  <div class="col-md-8">
    <router-outlet name="client"></router-outlet>
  </div>
</div>