<card header="Client Details">
    <div class="content" *ngIf="selectedClient">

        <div class="row">
            <div class="col-md-6">
                {{ selectedClient.firstName }} {{ selectedClient.lastName }}
            </div>
            <div class="col-md-6">
                {{ selectedClient.address }}
                {{ selectedClient.city }}
                {{ selectedClient.province }}
                {{ selectedClient.postalCode }}
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                {{ selectedClient.homePhone }}
                {{ selectedClient.cellPhone }}
                {{ selectedClient.fax }}
                {{ selectedClient.email }}
            </div>
            <div class="col-md-6">
                {{ selectedClient.notes }}
            </div>
        </div>

        <button type="submit" class="btn btn-info btn-fill pull-right" (click)="editClicked()">Edit</button>
        <div class="clearfix"></div>
    </div>
</card>