<div class="sidebar" data-color="red">
    <div class="sidebar-wrapper">
        <div class="logo">
            <a class="simple-text">
                <div class="logo-img">
                    <img src="/assets/img/physio-logo.png"/>
                </div>
                Alice Physio
            </a>
        </div>
        <ul class="nav" *ngIf="isLoggedIn" @flyInOut>
            <li routerLinkActive="active" *ngFor="let menuItem of menuItems">
                <a [routerLink]="[menuItem.path]">
                    <i class="{{menuItem.icon}}"></i>
                    <p>{{menuItem.text}}</p>
                </a>
            </li>
        </ul>
    </div>
</div>